/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  transition: transform 0.2s;
}

.movie-Poster:hover {
  transform: scale(1.05);
}

.movie-card {
  position: absolute;
  bottom: 0;
  opacity: 1;
  background-color: #333;
  transition: opacity 0.3s ease;
}

.movie-Poster:hover .movie-card {
  opacity: 1;
}

.movie-text {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.login-card {
  max-width: 540px;
  margin: 200px auto;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star {
  width: 35px;
}

.top-body {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  padding: 5px !important;
}
